<!doctype html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>TASK5 REVENKO (06.11.2019)</title>
		<link rel="stylesheet" type="text/css" href="../style/main.css"/>
		<script src="../script/main.js"></script> 
	</head>
	<body>
		<header>
			<a href="../index.html"><img src="../image/igromag_logo.png" alt="logo" class="logo" /></a>
			<h1>Магазин настільних ігор</h1>			
		</header>
		<nav>
			<div class="menu">
				<div class="burger-menu">
					<!-- <nav class="bmenu-nav">
					</nav> -->
					<a href="#" class="menu-btn">
					    <span></span>
					</a>
					
				</div>				
				<ul>
					<li>
						<a href="../index.html"><i class="fas fa-home"></i>Головна</a>
					</li>
					<li><a href="catalog.html"><i class="fas fa-puzzle-piece"></i>Каталог</a>
						<ul>
							<li><a href="#">Аксесуари</a></li>
							<li><a href="#" style="color: orange">Настільні ігри</a>
								<ul>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlya-detey/" target="_blank">Для дітей</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii/" target="_blank">Для сім'ї</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/golovolomki/" target="_blank">Головоломки</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii.dlya-otdiha/" target="_blank">Для відпочинку</a></li>
								</ul>
							</li>
							
							<li><a href="#">Подарункові сертифікати</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fas fa-hat-wizard"></i>Настільний клуб</a>
					</li>
					<li>
						<a href="order.html"><i class="fas fa-shopping-cart"></i>Замовлення</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-users"></i>Про нас</a>
					</li>
					<li>
						<a href="contacts.html"><i class="fas fa-address-card"></i>Контакти</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<main class="about-page">
			<section class="aboutUs">				
				<p>Якщо настільна гра - це кілька годин радості і веселощів, то клуб «Ігромаг» може вважатися фабрикою гарного настрою.</p>
				<p>Тут ви завжди можете розраховувати на затишну атмосферу, теплий чай, wi-fi і, звичайно ж, безліч настільних ігор.</p>
				<h2>Наші переваги</h2>				
			</section>
			<section class="advantages">
				<div>
					<i class="fa fa-thumbs-up"></i>
					<h2>Гарантуємо якість ігор</h2>
					<p>Коли ви купуєте настільні ігри, ми гарантуємо якість придбаних вами ігор.</p>
				</div>
				<div>
					<i class="fa fa-award"></i>
					<h2>Маємо тільки найкращі ігри</h2>
					<p>Ми пропонуємо перевірені ігри найвищої якості за кращими цінами.</p>
				</div>
				<div>
					<i class="fa fa-couch"></i>
					<h2>Створюмо затишну атмосферу</h2>
					<p>Ви можете пограти у настолки в нашому затишному клубі. З собою можна брати їжу, напої та друзів.</p>
				</div>
				<div>
					<i class="fa fa-dice"></i>
					<h2>Граємо разом з Вами</h2>
					<p>Ми відкриваємо для вас настільні ігри, розповідаючи про них усе. Ми граємо в них із вами.</p>
				</div>
				<div>
					<i class="fa fa-scroll"></i>
					<h2>Пропонуємо широкий асортимент ігор</h2>
					<p> Маємо ігри для будь-якого віку та смаку для вечірок, дружніх компаній чи проведення сімейного дозвілля.</p>
				</div>
				<div>
					<i class="fa fa-calendar-day"></i>
					<h2>Працюємо на вихідних</h2>
					<p>Магазин "Ігромаг - Світ настільних ігор" та настільний клуб відкриті для вас на свята та вихідні.</p>
				</div>
				<div>
					<i class="fa fa-tags"></i>
					<h2>Пропонуємо акції та знижки</h2>
					<p>Для наших любих клієнтів діє приємна система накопичувальних знижок і бонусних балів.</p>
				</div>
				<div>
					<i class="fa fa-hand-holding-usd"></i>
					<h2>Просуваємо бонусну програму</h2>
					<p>Ваші ігри - ваші бонуси! Отримуйте бонусні бали з кожною покупкою.</p>
				</div>
			</section>
			<section class="aboutUs">
				<p>Приходьте з друзями, родинами і коханими. Кожен знайде собі щось до смаку, а в цьому Вам допоможе <span class="ourTeam">наша команда:</span></p>
			</section>
			<section class="team">
				<div class="info">
					<img src="../image/team/5.jpg">
					<h3>Катерина Гнатюк</h3>
					<p>Ідейний натхненник</p>
				</div>	
				<div class="info">
					<img src="../image/team/4.jpg">				
						<h3>Олексій Сергієнко</h3>
						<p>Адміністратор</p>
				</div>
				<div class="info">
					<img src="../image/team/2.jpg">
					<h3>Олена Міщенко</h3>
					<p>Експерт зі стратегічних ігор</p>
				</div>
				<div class="info">
					<img src="../image/team/3.jpg">
					<h3>Валентин Загорський</h3>
					<p>Експерт з логічних ігор</p>
				</div>	
				<div class="info">
					<img src="../image/team/6.jpg">
					<h3>Анна Мірошниченко</h3>
					<p>Консультант</p>
				</div>
				<div class="info">
					<img src="../image/team/1.jpg">
					<h3>Аліна Гайдалюк</h3>
					<p>Консультант</p>
				</div>			
			</section>
		</main>
		<footer>
			<div class="footer">
				<div class="footer-logo">
					<a href="../index.html"><img src="../image/igromag_logo-white.png" alt="" /></a>
				</div>
				<div>
					<ul>
						<li><a href="https://desktopgames.com.ua/ua/" target="_blank">Каталог</a></li>
						<li><a href="https://igromag.club/" target="_blank">Настільний клуб</a></li>
						<li><a href="#top">Про нас</a></li>
						<li><a href="contacts.html">Контакти</a></li>
					</ul>
				</div>
				<div>
					<ul><span class="bolder">Магазин працює:</span>
						<li> Пн-Пт 10:00-20:00</li>
						<li>Сб-Нд 12:00-18:00</li>
					</ul>
					<ul><span class="bold">Клуб працює:</span>
						<li> Щодня 14:00-22:00</li>
					</ul>
				</div>
				<div>
					<ul>
						<li><a href="tel:(044)383-63-67">(044)383-63-67</a></li>
						<li><a href="tel:(095)589-03-51">(095)589-03-51</a></li>
						<li><a href="tel:(098)311-73-30">(098)311-73-30</a></li>
						<li><a href="tel:(093)519-64-39">(093)519-64-39</a></li>
						<li>
							<a href="mailto:desktopgames@gmail.com">desktopgames@ukr.net</a>
						</li>
					</ul>
				</div>		
				<div>
					<div class="networks">
						<a href="https://github.com/MariiaRev"><i class="fab fa-github"></i></a>
						<a href="https://www.facebook.com/profile.php?id=100016360392296"><i class="fab fa-facebook"></i></a>
						<a href="https://www.linkedin.com/in/mariia-revenko-07b82816b/"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<div>
						<i class="far fa-copyright"></i>
						<span>2019 Revenko Mariia</span>
					</div>
				</div>		
			</div>	
		</footer>
	</body>
</html>