<!doctype html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>TASK5 REVENKO (06.11.2019)</title>
		<link rel="stylesheet" type="text/css" href="../style/main.css"/>
		<script src="../script/main.js"></script> 
	</head>
	<body>
		<header>
			<a href="../index.html"><img src="../image/igromag_logo.png" alt="logo" class="logo" /></a>
			<h1>Магазин настільних ігор</h1>			
		</header>
		<nav>
			<div class="menu">
				<div class="burger-menu">
					<!-- <nav class="bmenu-nav">
					</nav> -->
					<a href="#" class="menu-btn">
					    <span></span>
					</a>
					
				</div>				
				<ul>
					<li>
						<a href="../index.html"><i class="fas fa-home"></i>Головна</a>
					</li>
					<li><a href="#"><i class="fas fa-puzzle-piece"></i>Каталог</a>
						<ul>
							<li><a href="#">Аксесуари</a></li>
							<li><a href="#" style="color: orange">Настільні ігри</a>
								<ul>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlya-detey/" target="_blank">Для дітей</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii/" target="_blank">Для сім'ї</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/golovolomki/" target="_blank">Головоломки</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii.dlya-otdiha/" target="_blank">Для відпочинку</a></li>
								</ul>
							</li>
							
							<li><a href="#">Подарункові сертифікати</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fas fa-hat-wizard"></i>Настільний клуб</a>
					</li>
					<li>
						<a href="order.html"><i class="fas fa-shopping-cart"></i>Замовлення</a>
					</li>
					<li>
						<a href="aboutUs.html"><i class="fas fa-users"></i>Про нас</a>
					</li>
					<li>
						<a href="contacts.html"><i class="fas fa-address-card"></i>Контакти</a>
					</li>
				</ul>
			</div>
		</nav>
		<main class="catalog-page">
			<section class="wrapper">	
				<div class="switch">
					<input type="radio" class="slide-1" name="slider" checked>
					<img src="../image/slider/bang-0.jpg" alt="">

					<input type="radio" class="slide-2" name="slider">
					<img src="../image/slider/bang-1.jpg" alt="">

					<input type="radio" class="slide-3" name="slider">
					<img src="../image/slider/bang-2.jpg" alt="">

					<input type="radio" class="slide-4" name="slider">
					<img src="../image/slider/bang-3.jpg" alt="">

					<input type="radio" class="slide-5" name="slider">		
					<img src="../image/slider/bang-4.jpg" alt="">
				</div>
				<!-- <div class="images">
					<div class="slide slide-1">
						<img src="../image/slider/bang-0.jpg" alt="">
					</div>
					<div class="slide slide-2">
						<img src="../image/slider/bang-1.jpg" alt="">
					</div>						
					<div class="slide slide-3">
						<img src="../image/slider/bang-2.jpg" alt="">
					</div>					
					<div class="slide slide-4">
						<img src="../image/slider/bang-3.jpg" alt="">
					</div>					
					<div class="slide slide-5">
						<img src="../image/slider/bang-4.jpg" alt="">
					</div>
				</div> -->
				
			</section>
		</main>
		<footer>
			<div class="footer">
				<div class="footer-logo">
					<a href="../index.html"><img src="../image/igromag_logo-white.png" alt="" /></a>
				</div>
				<div>
					<ul>
						<li><a href="https://desktopgames.com.ua/ua/" target="_blank">Каталог</a></li>
						<li><a href="https://igromag.club/" target="_blank">Настільний клуб</a></li>
						<li><a href="aboutUs.html">Про нас</a></li>
						<li><a href="contacts.html">Контакти</a></li>
					</ul>
				</div>
				<div>
					<ul><span class="bolder">Магазин працює:</span>
						<li> Пн-Пт 10:00-20:00</li>
						<li>Сб-Нд 12:00-18:00</li>
					</ul>
					<ul><span class="bold">Клуб працює:</span>
						<li> Щодня 14:00-22:00</li>
					</ul>
				</div>
				<div>
					<ul>
						<li><a href="tel:(044)383-63-67">(044)383-63-67</a></li>
						<li><a href="tel:(095)589-03-51">(095)589-03-51</a></li>
						<li><a href="tel:(098)311-73-30">(098)311-73-30</a></li>
						<li><a href="tel:(093)519-64-39">(093)519-64-39</a></li>
						<li>
							<a href="mailto:desktopgames@gmail.com">desktopgames@ukr.net</a>
						</li>
					</ul>
				</div>		
				<div>
					<div class="networks">
						<a href="https://github.com/MariiaRev"><i class="fab fa-github"></i></a>
						<a href="https://www.facebook.com/profile.php?id=100016360392296"><i class="fab fa-facebook"></i></a>
						<a href="https://www.linkedin.com/in/mariia-revenko-07b82816b/"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<div>
						<i class="far fa-copyright"></i>
						<span>2019 Revenko Mariia</span>
					</div>
				</div>	
			</div>		
		</footer>
	</body>
</html>