<!doctype html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<title>TASK5 REVENKO (06.11.2019)</title>
		<link rel="stylesheet" type="text/css" href="../style/main.css"/>
		<script src="../script/main.js"></script> 
	</head>
	<body>
		<header>
			<a href="../index.html"><img src="../image/igromag_logo.png" alt="logo" class="logo" /></a>
			<h1>Магазин настільних ігор</h1>			
		</header>
		<nav>
			<div class="menu">
				<div class="burger-menu">
					<!-- <nav class="bmenu-nav">
					</nav> -->
					<a href="#" class="menu-btn">
					    <span></span>
					</a>
					
				</div>				
				<ul>
					<li>
						<a href="../index.html"><i class="fas fa-home"></i>Головна</a>
					</li>
					<li><a href="catalog.html"><i class="fas fa-puzzle-piece"></i>Каталог</a>
						<ul>
							<li><a href="#">Аксесуари</a></li>
							<li><a href="#" style="color: orange">Настільні ігри</a>
								<ul>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlya-detey/" target="_blank">Для дітей</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii/" target="_blank">Для сім'ї</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/golovolomki/" target="_blank">Головоломки</a></li>
									<li><a href="https://desktopgames.com.ua/ua/catalog/boardgames/dlja-semii.dlya-otdiha/" target="_blank">Для відпочинку</a></li>
								</ul>
							</li>
							
							<li><a href="#">Подарункові сертифікати</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fas fa-hat-wizard"></i>Настільний клуб</a>
					</li>
					<li>
						<a href="order.html"><i class="fas fa-shopping-cart"></i>Замовлення</a>
					</li>
					<li>
						<a href="aboutUs.html"><i class="fas fa-users"></i>Про нас</a>
					</li>
					<li>
						<a href="#"><i class="fas fa-address-card"></i>Контакти</a>
					</li>
				</ul>
			</div>
		</nav>
		<main class="contacts-page">
			<article>
				<section class="adress">				
					<h2>Адреса</h2>
					<p>Україна, м. Київ, вул. І. Франка, 12 (Код на домофоні – 20К)</p>
				</section>
				<section class="schedule">
					<p>Графік роботи <span class="bold">магазину</span> настільних ігор:</p>
					<ul>
						<li>понеділок - п’ятниця з 10:00 до 20:00</li>
						<li>субота - неділя з 12:00 до 18:00</li>
					</ul>
					<p>Графік роботи <span class="bold">клубу</span> настільних ігор:</p>
					<ul>
						<li>щоденно з 14:00 до 22:00</li>
					</ul>
				</section>
				<section class="contacts">
					<p>Якщо у вас з’явилися будь-які питання щодо настільних ігор чи сайту, зв’яжіться з нами зручним для вас способом.</p>
					<ul>
						<li>телефон
							<ul>
								<li><a href="tel:(044)383-63-67">(044)383-63-67</a></li>
								<li><a href="tel:(095)589-03-51">(095)589-03-51</a></li>
								<li><a href="tel:(098)311-73-30">(098)311-73-30</a></li>
								<li><a href="tel:(093)519-64-39">(093)519-64-39</a></li>
							</ul>
						</li>
						<li>email
							<ul>
								<li>
									<a href="mailto:desktopgames@gmail.com">desktopgames@ukr.net</a> - магазин
								</li>
								<li>
									<a href="mailto:event@igromag.ua">event@igromag.ua</a> - з питань організації ігротек і заходів
								</li>
								<li>
									<a href="mailto:irina.karpenko@igromag.ua">irina.karpenko@igromag.ua</a> - з питань співпраці та вакансій
								</li>
							</ul>
						</li>
						<li>соцмережі
							<ul class="networkIcons">
								<li>
									<a href="https://www.facebook.com/IgromagUa/"><i class="fab fa-facebook-square"></i></a>
								</li>
								<li>
									<a href="https://www.instagram.com/igromag/"><i class="fab fa-instagram"></i></a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCWgSFZa8jM9dXjTtP12CmDw/featured"><i class="fab fa-youtube"></i></a>
								</li>
							</ul>
						</li>
					</ul>
				</section>
			</article>
			<aside>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5457204243344!2d30.507242115154625!3d50.44956179531086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce592f320eff%3A0xa669ef60e032c05e!2z0JjQs9GA0L7QvNCw0LM!5e0!3m2!1sru!2sua!4v1574030418978!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</aside>
		</main>
		<footer>
			<div class="footer">
				<div class="footer-logo">
					<a href="../index.html"><img src="../image/igromag_logo-white.png" alt="" /></a>
				</div>
				<div>
					<ul>
						<li><a href="https://desktopgames.com.ua/ua/" target="_blank">Каталог</a></li>
						<li><a href="https://igromag.club/" target="_blank">Настільний клуб</a></li>
						<li><a href="aboutUs.html">Про нас</a></li>
						<li><a href="#top">Контакти</a></li>
					</ul>
				</div>
				<div>
					<ul><span class="bolder">Магазин працює:</span>
						<li> Пн-Пт 10:00-20:00</li>
						<li>Сб-Нд 12:00-18:00</li>
					</ul>
					<ul><span class="bold">Клуб працює:</span>
						<li> Щодня 14:00-22:00</li>
					</ul>
				</div>
				<div>
					<ul>
						<li><a href="tel:(044)383-63-67">(044)383-63-67</a></li>
						<li><a href="tel:(095)589-03-51">(095)589-03-51</a></li>
						<li><a href="tel:(098)311-73-30">(098)311-73-30</a></li>
						<li><a href="tel:(093)519-64-39">(093)519-64-39</a></li>
						<li>
							<a href="mailto:desktopgames@gmail.com">desktopgames@ukr.net</a>
						</li>
					</ul>
				</div>		
				<div>
					<div class="networks">
						<a href="https://github.com/MariiaRev"><i class="fab fa-github"></i></a>
						<a href="https://www.facebook.com/profile.php?id=100016360392296"><i class="fab fa-facebook"></i></a>
						<a href="https://www.linkedin.com/in/mariia-revenko-07b82816b/"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<div>
						<i class="far fa-copyright"></i>
						<span>2019 Revenko Mariia</span>
					</div>
				</div>			
			</div>
		</footer>
	</body>
</html>