.detalno {
    background: url(../images/BG4.png) no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.detalno .dtitle1, .detalno .dtitle2 {
    font-family: Raleway-Bold;
    color: rgb(159, 97, 97);
}
    .detalno .dtitle1 {
        margin-top: 53px;
        font-size: 48pt;
        text-transform: uppercase;
    }
    .detalno .dtitle2 {
        margin-top: -30px;
        font-size: 35pt;
        margin-bottom: 104px;
    }
.detalno .text {
    margin-top: 16px;
    color: rgb( 159, 97, 97);
    font-family: Raleway-Regular;
    text-align: justify;
    line-height: 0.8em;
    font-size: 16pt;
}
.row2 {
    margin-top: 43px;
}
.row2 .text {
    margin-bottom: 98px;
}