.footer {
    background: url(../images/BG9.png) no-repeat;
    background-size: cover;
    color: #fff;
    font-family: MyriadPro;
    font-size: 16pt;
}
.footer .tutor {
    font-weight: bold;
}
.footer .rights {
    font-family: Raleway-Light;
    font-weight: bold;
}
.footer .tutor, .footer .rights {
    margin-top: 2%;
    margin-bottom: 2%;
}