@import url("header.css");
@import url("footer.css");
@import url("nav.css");
@import url("fonts.css");
@import url("home-main.css");
@import url("aboutUs.css");
@import url("contacts.css");
@import url("order.css");
@import url("catalog.css");
@import url("burger-menu.css");
@import url("../font/fontawesome/css/all.min.css");
@import url("media.css");



*
{
	margin: 0;
	padding: 0;
	font-family: "RitaSmith";
}
.bold
{
	font-weight: bold;
}
.bolder
{
	font-weight: bolder;
}
body
{
	/*background: linear-gradient(#867CCF, #312782);*/
	background-color: #ffffff;
}